.project-container {
    width: 100%;
    margin-top: 97px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* @media screen and (min-width: 760px) {
    .project-container {
        
    }
} */

@media screen and (min-width: 1152px) {
    .project-container {
        margin-top: 170px;
    }
}