* {
    font-family: 'messapiabold', sans-serif;
}

/* Mobile */

.navbar-wrapper {
    z-index: 5;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
    top: 0;
}

.navbar-container {
    max-width: 1152px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 24px;
}

.menu-options {
    /* Hide in mobile */
    display: none;
}

.menu-item {
    color:#fff;
}

@media screen and (min-width: 992px) {

    .navbar-container {
        max-width: 1152px;
        padding: 40px 0px;
    }
    
    .menu-options {
        display: flex;
    }

    .menu-item {
        text-decoration: underline;
        font-size: 14px;
    }

    #menu-item-0, #menu-item-1 {
        margin-right: 24px;
    }

    .hamburger {
        display: none;
    }
}